/.idea/
/chapter-4-2-nodejs/node_modules/
/chapter-4-3-express/node_modules/
/chapter-4-3-part2/node_modules/
/chapter-5-3-orm/node_modules/
/chapter-5-3-orm-extented/node_modules/
/chapter-5-3-orm-extented/.idea/
/chapter-7-1-session/node_modules/
/chapter-7-1-jwt/node_modules/
/chapter-7-1-jwt/node_modules/
/chapter-7-3-media-handling/node_modules/
/chapter-7-3-media-handling/.env
/chapter-8-1-tdd/node_modules/
/chapter-9-1-ws/node_modules/
/chapter-9-2-mailer/node_modules/
