<form method="post" action="/register">
    <label for="username">Username</label>
    <br>
    <input type="text" name="username" id="username" placeholder="tulis username">
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" id="password" placeholder="tulis password">
    <br>
    <button type="submit">Register</button>
</form>